.score{
	font-size:14pt;	
	display:block;
}
.score.first{
	font-size:18pt;
}
.title{
	font-size: 15pt;
}
.navbar{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.rating-container{
	font-size:10pt;
	color:#1d2124;
	display:block;
}
.rating-container .fas {
	color:#ffc107;
}
.recommendation-con.col-sm-3 {
    padding-top: 6px;
}